body {
}

/**/
.carlistTable {}
.carlistTable THEAD {}
.carlistTable THEAD TR {}
.carlistTable THEAD TR TH 
{
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	}

.carlistTable THEAD TR TH:nth-child(1) {}
.carlistTable THEAD TR TH:nth-child(2) {}
.carlistTable THEAD TR TH:nth-child(3) {}
.carlistTable THEAD TR TH:nth-child(4) {}
.carlistTable THEAD TR TH:nth-child(5) {}
.carlistTable THEAD TR TH:nth-child(6) {}


.carlistTable TBODY {}
.carlistTable TBODY TR {}
.carlistTable TBODY TR TD 
{
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	}

.carlistTable TBODY TR TD:nth-child(1) 
{
	vertical-align: top;
	}
.carlistTable TBODY TR TD:nth-child(2) 
{
	text-align: left;
	padding: 8px 24px;
	white-space: normal;
	}
.carlistTable TBODY TR TD:nth-child(3) 
{
	
	}
.carlistTable TBODY TR TD:nth-child(4) {}
.carlistTable TBODY TR TD:nth-child(5) {}
.carlistTable TBODY TR TD:nth-child(6) 
{
	vertical-align: bottom;
	}

.productName 
{
	margin-top: 0;
}
.productDetail {}
.productDetail LI 
{
	font-size: 12px;
	margin-bottom: 4px;
	}

.productDetail LI:before 
{
	display: inline-block;
	content: "";
	border: 4px solid #ccc;
	border-color: transparent transparent transparent #ccc;
	vertical-align: middle;
	margin-left: 16px;
	}

#totalPrice 
{
	font-size: 24px;
	margin-bottom: 32px;
}