#Title {
        font-size: 24px;
        margin-top: 0;
        padding-bottom: 23px;
    }
    
    #mainImg
    { 
    	background-position: center top;
        background-repeat: no-repeat;
        background-size: 80%;
        text-align: center;
        /* 商品大圖區塊最小高度 */
        min-height: 250px;
        transition: background-image .25s ease-out;
    }
    
    #mainImg #productImgBig
    { width: 80%; }
    
    #productDisc {
    background-color: #eee;
    padding-bottom: 36px;
}
    
    #productDisc H3 {
        font-size: 21px;
    }
    
    #productDisc P {
        line-height: 2em;
        padding-left: 1.2em;
    }
    
    #productDisc UL
    {list-style: outside none none;
     padding-left: 1.2em;}
    
    #productDisc UL LI {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.4em;
    }
    
    

#productDisc UL LI::before {
    color: #999;
    content: "-";
    display: inline-block;
    margin-left: -10px;
    margin-right: 4px;
}

.productImgs 
{
	min-height: 150px;
	border-top: 1px solid #999;
    margin-top: 24px;
	}

.productImgs UL {
    margin: 8px auto;
    text-align: center;
    width: 80%;
    overflow: hidden;
}

.productImgs UL LI 
{
	vertical-align: middle;
    border: 1px solid #999;
    padding: 3px;
    width: 19.20%;
    margin-left: 1%;
    cursor: pointer;
    transition: width .25s ease-out;
    float:left;
}

.productImgs UL LI:first-child 
{
    margin-left: 0;
}

.productImgs UL:hover LI 
{
    width: 18%;
}

.productImgs UL:hover LI:hover 
{
    border: 1px solid #444;
    width: 24%;
}

.productImgs UL LI IMG
{
	width: 100%;
	vertical-align: middle;
	}

.detail H3
{
	font-size: 21px;
	}
	
#pPrice {
    color: red;
    font-weight: 600;
    margin-bottom: 32px;
    margin-top: -32px;
    text-align: right;
}