* {
	font-family: Modern-Regular, "微軟正黑體";
}
a
{
	text-decoration:none
}
#head
{
	width:100%;
	min-width:800px;
}
#head_top
{
	width:100%;
}
#header_search_txt {
    background-image: url("../images/search_frame.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 32px;
    line-height: 32px;
    position: relative;
    text-align: left;
    width: 200px;
}
#header_function_list
{
	/*margin-right:30px;*/
	float:right;
	margin-top: 25px;
	/*font-size:14px;*/
	font-size:1.6rem;
}
.header_function_list_element
{
	float:left;
	margin-right:20px;
}
#head_top a
{
	color:#222222;
}
.sapn_title
{
	color:#222222;
}
#login_Div
{
	/*padding-top:8px;*/
}
#cart_Div
{
	/*padding-top:2px;*/
}
#cart_counter
{
	color:Red;
	/*font-size:20px;*/
}
#head_bottom
{
	background-color:#222222;
	width:100%;
	height:30px;
}
#header_search
{
	height:15px;
	border:none;
	margin-left:5px;
}
#header_search_img
{
	height:20px;
}
#head_bottom
{
	font-size:16px;
	color:#9d9d9d;
}

#MainTitle {
    font-size: 21px;
    margin-top: 0;
    padding-bottom: 26px;
}

#main_menu
{
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top:2px;
	width:800px;
}
#main_menu li
{
	float:left;
	list-style: outside none none;
	width:140px;
}
#main_menu a.link
{
	color:#9d9d9d;
}
#main_menu a
{color:#9d9d9d;}

#headerTop
{margin: 16px 0 0;}
#main-navbar
{font-size:1.6rem;
 margin-left: -30px;}

.thumbnail .productIMG
{
	background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
	}
.thumbnail .imgPlaceHolder
{width:100%;
 visibility: hidden;
}

.thumbnail .caption H4 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
    white-space: normal;
    min-height: 54px;
    margin-top: 0;
    line-height: 1.3em;
}

.thumbnail .caption H5 {
    font-size: 16px;
    font-weight: bold;
    margin-top: -30px;
    position: relative;
}

.thumbnail .caption P
{
	
}