* {
    font-family: Modern-Regular, "微軟正黑體";
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
#head {
    width: 100%;
    min-width: 800px;
}
#head_top {
    width: 100%;
}
#header_search_txt {
    background-image: url("../images/search_frame.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 32px;
    line-height: 32px;
    position: relative;
    text-align: left;
    width: 200px;
}
#header_function_list {
    float: right;
    font-size: 1.6rem;
    color: #444;
    margin-top: 16px;
}
#header_function_list a:hover {
    color: #666;
}
.header_function_list_element {
    float: left;
    margin-right: 20px;
}
#head_top a {
    color: #222222;
}
.sapn_title {
    color: #222222;
}
#login_Div {
    /*padding-top:8px;*/
}
#cart_Div {
    margin-top: 2px;
}
#cart_counter {
    font-size: 10px;
    position: relative;
    padding: 0 4px;
    left: -12px;
}
#head_bottom {
    background-color: #222222;
    width: 100%;
    height: 30px;
}
#header_search {
    height: 15px;
    border: none;
    margin-left: 5px;
}
#header_search_img {
    height: 20px;
}
#head_bottom {
    font-size: 16px;
    color: #9d9d9d;
}
#MainTitle {
    /*font-size: 21px;*/
    
    margin-top: 3px;
    padding-bottom: 17px;
}
#main_menu {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 2px;
    width: 800px;
}
#main_menu li {
    float: left;
    list-style: outside none none;
    width: 140px;
}
#main_menu a.link {
    color: #9d9d9d;
}
#main_menu a {
    color: #9d9d9d;
}
#headerTop {
    margin: 16px 0 0;
}
#main-navbar {
    font-size: 1.6rem;
    margin-left: -30px;
}
#ProductionDiv .thumbnail {
    cursor: pointer;
    min-height: 370px;
}
#ProductionDiv .thumbnail:hover {
    border-color: #999;
}
.thumbnail img {
    width: 100%;
}
.thumbnail {
    padding: 0;
}
.thumbnail .productIMG {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #ccc;
}
.thumbnail .imgPlaceHolder {
    width: 100%;
    visibility: hidden;
}
.thumbnail .caption H4 {
    /*border-bottom: 1px solid #ccc;*/
    /*padding-bottom: 6px;*/
    
    white-space: normal;
    min-height: 32px;
    font-size: 16px;
    /*margin-top: 0;*/
    /*line-height: 1.3em;*/
}
.thumbnail .caption H5 {
    font-size: 16px;
    font-weight: bold;
    color: #d45200;
    /*margin-top: -30px;*/
    /*position: relative;*/
}
.thumbnail .originPrice {
	margin-right: 11px;
	color: #a2a2a2;
}
.thumbnail .caption P {
    height: 2.8em;
    line-height: 1.4;
    overflow: hidden;
}
.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
.thumbnail ul {
	
}
.thumbnail li {
	font-size: 75%;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
/* 購物步驟用 */

.orderStep {
    /* ul */
    
    list-style: outside none none;
    font-size: 14px;
    margin-left: -15px;
    padding: 0px;
    color: #9C9C9C;
}
.orderStep li {
    display: inline-block;
    padding-left: 0px;
    vertical-align: middle;
}
.orderStep li::before {
    display: inline-block;
    content: ">";
}
.orderStep .currentStep {
    font-weight: 600;
    color: #666;
}
.orderStep li:first-child::before {
    display: none;
    content: "";
}